
<div>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <h1>Usuario</h1>
  <form class="example-form">
    <mat-form-field >
      <input matInput  placeholder='ID' value='' readonly='true'>
    </mat-form-field>
    <mat-form-field >
      <input matInput  placeholder='Nombre' value='' readonly='true'>
    </mat-form-field>
    <mat-form-field >
      <input matInput  placeholder='Apellido' value='' readonly='true'>
    </mat-form-field>
  </form>
  <h1>Rol</h1>
  <form class="example-form2">
    <mat-form-field >
      <input matInput  placeholder='ID' value='' readonly='true'>
    </mat-form-field>
    <mat-form-field >
      <input matInput  placeholder='Aplicacion' value='' readonly='true'>
    </mat-form-field>
    <mat-form-field >
      <select  placeholder='Usuario' readonly='true'>
        <option value = "v1">Prueba1</option>
        <option value = "v1">Prueba2</option>
      </select>
    </mat-form-field>
  </form>
</div>
<div>
  <input type="button" value="Agregar">
</div>
